header{
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 64px;
	margin-bottom: 39px;
	color: #444;
	background-color: #fff;
	border-bottom: 1px solid #d5d6d6;
	box-shadow: 0 0 1px #d5d6d6;
}
header a{
	color: #444;
}
.head-container{
	position: relative;
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}
h1 a{
	float: left;
	width: 80px;
	height: 64px;
	text-indent: -9999px;
	background: url(../img/logo.png) no-repeat center;
}
#menu-btn{
	float: left;
	margin: 18px 22px;
	width: 68px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	font-size: 14px;	
	border-radius: 2px;
}
.btn-name{
	position: absolute;
	z-index: 100;
	width: 68px;
	height: 26px;
	border: 1px solid #d5d6d6;
	cursor: pointer;	
}
.btn-name.show{
	height:42px;
	background-color: #fff;
	border-bottom: 0;
}
.down{
	display: inline-block;
	margin-left: 8px;
	width: 10px;
	height: 10px;
	background: url(../img/xia.png);
	transition: transform 0.4s;
}
#menu-btn:hover .down{
	transform: rotate(-180deg);
}
#menu{
	position: absolute;
    top: 60px;
    left: 102px;
    width: 479px;
    height: 280px;
    padding: 35px 0;
    font-size: 13px;
    background-color: #fff;
    border-radius: 2px;
    display: none;
    border: 1px solid #d5d6d6;
}
#menu-l{
	float: left;
	width: 122px;
	height: 280px;
	text-align: left;
	border-right: 1px solid #ebebeb;
}
#menu-l li{
	margin-bottom: 14px;
	margin-left: 30px;
	color: #444;
}
#menu-l .shop{
	margin-top: 30px;
}
#menu-r{
	float: left;
	margin-top: -14px;
}
#menu-r > ul{
	margin-left: 20px;
	width: 300px;
	height: 42px;
	border-bottom: 1px dotted #ebebeb;
}
#menu-r li{
	float: left;
	margin: 10px 0 10px 0px;
	height: 17px;
	text-align: center;
}
#menu-r li a{
	padding: 0 20px;
	border-right: 1px solid #ebebeb;
}
#search{
	float: left;
	height: 30px;
	border-radius: 2px;
	border: 1px solid #d5d6d6;
	margin-top: 16px;
	margin-left: 30px;
}
#keyword{
	float: left;
	width: 324px;
	height: 100%;
	text-indent: 6px;
	border: 0;
	outline: none;
}
#submit{
	float: right;
	margin-right: 4px;
	width: 30px;
	height: 30px;
	border: 0;
	cursor: pointer;
	background: url(../img/search.png) no-repeat center;
}
/* 搜索框提示 */
.search-list{
	position: absolute;
    top: 47px;
    left: 222px;
	width: 358px;
	height: auto;
	background: #fff;	
	border: 1px solid #d4d5d5;
	border-radius: 2px;
    box-shadow: rgba(0,0,0,0.16) 0 2px 4px;
    display: none;
}
.search-list .ac{
    width: 358px;
    height: 20px;
    padding: 5px 0;
    text-indent: 1em;
    cursor: pointer;
    color: #888;
    font-size: 13px;
}
.search-list .selec {
    background-color: #ebebeb;
}
.ac span{
	padding: 0 2px;
	color: #f46;
}
.r-list{
	float: right;
	font-size: 13px;
}
.r-list li{
	float: left;
	height: 24px;
	line-height: 24px;
	margin-top: 22px;
	padding: 0 24px;
	border-left: 1px solid #ebebeb;
}
.r-list li.pla{
	padding-right: 0;
}
.r-list .new{
	margin-left: 3px;
	padding: 0 4px 2px 4px;
	color: #fff;
	font-size: 10px;
	background-color: #f46;
	border-radius: 2px;
}
.regb{
	display: inline-block;
	margin-top: -2px;
	text-align: center;
	color: #fff;
    width: 52px;
    height: 28px;
    line-height: 28px;
    background-color: #f46;
    border-radius: 3px;
}
.regb:hover,.logb:hover{
	text-decoration: none;
}
li a.phone{
	display: inline-block;
	padding-left: 14px;
	background: url(../img/phone.png) no-repeat left;
}
a.phone:hover{
	color: #f46;
	text-decoration: none;
}
.phone:hover .down{
	transform: rotate(-180deg);
}
.phone-code{
	position: absolute;
	margin-left: -118px;
    margin-top: 18px;
    padding: 20px 0 0;
	width: 189px;
    height: 180px;
    text-align: center; 
    color: #666;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: rgba(0,0,0,0.16) 0 2px 4px;
    display: none;
}
/* 内容主体 */
#page-body{
	padding-top: 104px;
	width: 100%;
}
#content{
	width: 1200px;
	height: auto;
	margin: 0 auto;
	position: relative;
}
.imgs-container{
	float: left;
	width: 710px;
	height: 443px;
	border-radius: 2px;
	overflow: hidden;
}
.imgs a{
	position: relative;
}
.img-mask{
	position: absolute;
	width: 614px;
	height: 64px;
	line-height: 64px;
	margin-top: -88px;
	margin-left: 48px;
	color: #fff;
	font-size: 26px;
	text-indent: 1em;
	border-radius: 6px;
	background: rgba(0,0,0,0.3);
}
.imgs-container .imgs{
	width: 500%;
	height: 100%;
}
.imgs li{
	float: left;
}
.imgs-container .img-btn{
	position: absolute;
	z-index: 100;
	margin-top: -56px;
	margin-left: 548px;
	width: 90px;
	height: 10px;
}
.img-btn li{
	float: left;
	margin: 0 5px;
	width: 8px;
	height: 8px;
	background-color: #fff;
	opacity: 0.7;
	border-radius: 50%;
	cursor: pointer;
}
.img-btn .btn-on{
	background-color: #000;
}
.prev,.next{
	position: absolute;
	margin-top: -250px;
	width: 26px;
	height: 40px;
	display: none;
	opacity: 0.6;
	cursor: pointer;
}
.prev{
	margin-left: 10px;
	background: url(../img/prev.png);
}
.prev:hover,.next:hover{
	opacity: 1;
}
.next{
	margin-left: 674px;
	background: url(../img/next.png);
}
.hot{
	float: right;
	width: 468px;
	height: 284px;
	font-size: 13px;
	background-color: #fff;
	border: 1px solid #dedfe0;
}
.hot a{
	color: #444;	
}
.hot h3{
	width: 402px;
	height: 36px;
	margin-left: 33px;
    padding-top: 16px;
    font-size: 16px;
    border-bottom: 1px solid #ebebeb;
}
.hot-list{
	margin-left: 2px;
	padding: 12px;
	height: 54px;
}
.hot-list li{
	float: left;
	margin: 5px 0;
	padding: 0 19px;
	border-right: 1px solid #ebebeb;
}
div.hot-b{
	margin-left: 33px;
	width: 402px;
	height: 50px;
	line-height: 50px;
	border-top: 1px dotted #ebebeb;
}
.hot-b .act,.hot-b .sel{
	margin-left: 6px;
	padding: 2px 4px;
	color: #fff;
}
.hot-b .act:hover,.hot-b .sel:hover{
	text-decoration: none;
}
.hot-b .act{
	background-color: #fb3;
}
.hot-b .sel{
	background-color: #f46;
}
.ad a{
	float: right;
	margin-top: 26px;
	width: 470px;
	height: 130px;
	background: url(../img/download.jpeg) no-repeat;
}
.section1{
	width: 100%;
	height: 480px;
	border-bottom: 1px solid #d4d5d5;
}
/* 往期回顾 */
.section2{
	width: 100%;
	height: 454px;
	border-bottom: 1px solid #d4d5d5;
}
.sec-head{
	width: 100%;
	height: 87px;
}
.sec-head h2{
	float: left;
	margin-top: 30px;
    font-size: 18px;
    color: #444;
}
.sec-head .sec-head-btn{
	float: right;
	margin-top: 30px;
	width: 80px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    font-size: 13px;
    color: #fff;
    background-color: #22b4f6;
    border-radius: 2px;
}
.sec-head .sec-head-btn:hover{
	text-decoration: none;
	background-color: #1e9ed8;
}
.sec-content{
	width: 100%;
	height: 328px;
}
.box{
    float: left;
    width: 222px;
    height: 100%;
    margin-right: 20px;
    background: #fff;
    border: 1px solid #ebebeb;
    border-radius: 2px;
}
.box a{
	color: #444;
}
.box-last{
	margin-right: 0;
}
.box .pic{
	width: 222px;
	height: 224px;
	overflow: hidden;
}
.box .pic-title{
	padding: 12px 10px;
	font-size: 13px;
    font-weight: 700;
}
.box .pic-info{
	padding: 0 10px;
    font-size: 12px;
    color: #888;
}
.pic-info .author{
	display: inline-block;
	padding-top: 4px;
}
.pic-info a{
	color: #888;
}
/* 单品推荐 */
.section3{
	width: 100%;
	height: 444px;
	border-bottom: 1px solid #d4d5d5;
}
.rec-list{
	float: right;
	margin-top: 36px;
}
.rec-list li{
	float: left;
	padding: 0 12px;
	border-right: 1px solid #d4d5d5;
}
.rec-list .rec-list-la{
	border: 0;
}
.rec-list li a{
	color: #444;
}
.section3 .box{
	height: 290px;
}
.section3 .pic-info a{
    float: right;
    margin-top: -22px;
    width: 56px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    background-color: #fb3;
    border-radius: 2px;
}
/* 达人推荐 */
.section4{
	width: 100%;
	height: 400px;
	border-bottom: 1px solid #d4d5d5;
}
.section4 .box{
	height: 248px;
	text-align: center;
}
.section4 .pic{
	width: 222px;
	height: 112px;
	overflow: visible;
	position: relative;
}
.pic .user-img{
	position: absolute;
	top: 66px;
	left: 70px;
	padding: 4px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: #fff;
}
.pic .user-id{
	display: block;
    color: #444;
    padding: 52px 10px 0 10px;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
}
.user-info{
	margin-top: 76px;
}
.user-info .follow{
	display: inline-block;
	text-indent: 20px;
	background: url(../img/star.png) no-repeat left;
}
.user-info .area{
	display: inline-block;
	padding-top: 10px;
	color: #444;
}
/* 大家都在逛 */
.section5{
	width: 100%;
	height: auto;
}
.section5 .sec-content{
	position: relative;
	width: 1220px;
	padding-bottom: 144px;
}
.section5 .box{
	margin-bottom: 20px;
	height: auto;
}
.section5 .pic{
	height: auto;
}
.box .pic-tips{
	padding: 12px 10px;
}
.zan{
	padding: 0 0 12px 10px;
	border-bottom: 1px solid #d4d5d5;
}
.zan .coll{
	display: inline-block;
	text-indent: 20px;
	background: url(../img/star.png) no-repeat left;
} 
.zan .like{
	margin-left: 10px;
	display: inline-block;
	text-indent: 20px;
	background: url(../img/like.png) no-repeat left;
} 
.who{
	width: 202px;
	padding: 10px 10px 20px 10px;
}
.who .user-img{
	float: left;
	margin: 0 10px;
	width: 24px;
	height: auto;
	border-radius: 50%;
}
.who .user-id{
	float: left;
	width: 148px;
	padding-bottom: 4px;
}
.more a{
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -60px;
	bottom: 80px;
    width: 120px;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    background-color: #22b4f6;
}
.more a:hover{
	text-decoration: none;
	background-color: #1e9ed8;
}
/* sidebar */
#sidebar{
	position: fixed;
	bottom: 30px;
	right: 0;
    border-radius: 2px;
}
#sidebar li a{
	display: block;
	width: 48px;
	height: 48px;
}
.side1{
	background: url(../img/side1.png);
}
.side2{
	background: url(../img/side2.png);
}
.side3{
	background: url(../img/side3.png);
}
.side1:hover{
	background: url(../img/side1-1.png);
}
.side2:hover{
	background: url(../img/side2-1.png);
}
.side3:hover{
	background: url(../img/side3-1.png);
}
/* 页脚 */
footer{
    height: 272px;
    background-color: #e1e2e3;
    border-top: 1px solid #d8d9da;
}
.footer-containter{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}
.foot1{
	float: left;
	width: 207px;
	height: 160px;
	margin: 24px 0;
	padding-left: 32px;
	border-left: 1px solid #cfd0d1;
}
.foot1 .foot-h{
	font-size: 13px;
	color: #444;
	margin-top: 8px;
	padding-bottom: 18px;
}
.foot1 li{
	float: left;
	width: 101px;
	padding-bottom: 10px;
}
.foot1 li a{
	font-size: 13px;
    line-height: 1.5;
    font-family: tahoma,arial,sans-serif;
    color: #666;
}
.foot2{
	padding-left: 0;
	text-align: center;
}
.foot2 img{
	padding-top: 20px;
	padding-bottom: 6px;
}
.foot3{
	height: 32px;
	line-height: 32px;
	text-align: center;
}
.foot3 span{
	float: left;
	color: #888;
	margin-left: 240px;
	padding-right: 6px;
}
.foot3 img{
	float: left;
	padding: 0 8px;
}
/* 视频mask */
.mask{
	width: 224px;
	height: 224px;
	position: absolute;
	margin-top: -226px;
	background: rgba(0,0,0,0.1);
	display: none;
}
/* 登录 */
.reg-mask{
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.2);
	display: none;
}
#login{
    position: fixed;
    z-index: 1100;
    top: 50%;
    left: 50%;
    margin: -273px 0 0 -330px;
    width: 660px;
    height: 0;
    display: none;
    border-radius: 4px; 
    background-color: #fff;
    box-shadow: rgba(0,0,0,0.16) 0 2px 4px;
}
.login-t{
	height: 46px;
	line-height: 46px;
    font-size: 16px;
    font-weight: 700;
    color: #606060;
    text-align: center;
    border-bottom: 1px solid #ebebeb;
}
.close{
	position: absolute;
	right: 0;
    top: 0;
    width: 46px;
    height: 46px;
    line-height: 46px;
    text-indent: -9999px;
    background: url(../img/close.png) no-repeat 15px 15px;
    cursor: pointer;   
}
.close:hover{
	background-position: -17px -17px;
}
.login-f{
	padding: 40px 0 40px 40px;
	height: 330px;
}
.infol{
	float: left;
	position: relative;
	width: 304px;
	height: 328px;
	border-right: 1px solid #ebebeb;
}
#user,#password,#tcode{
	position: absolute;
	left: 0;
    padding: 11px 10px;
    width: 250px;
    height: 16px;
    line-height: 16px;
	font-size: 14px;
	border: 1px solid #E5E4E3;
	outline: none;
}
#password{
	top: 60px;
}
#tcode{
	top: 120px;
}
.rm{
	position: absolute;
	left: 0;
	top: 180px;
	width: 270px;
    height: 38px;
    line-height: 38px;
}
.rm a{
	float: right;
	color: #5678a0;
}
#login-in{
	position: absolute;
	left: 0;
	top: 240px;
	width: 270px;
	height: 40px;
	border: 0;
	color: #fff;
	font-size: 14px;
	letter-spacing: 2px;
	background-color: #22b4f6;
	cursor: pointer;
}
.links{
	position: absolute;
	left: 0;
	top: 300px;
	width: 300px;
	height: 40px;
}
.links a{
    float: left;
    margin-right: 35px;
    width: 25px;
    height: 25px;
    background: url(../img/link.png) no-repeat;
}
a.qq{
	background-position: -36px -4px;
}
a.weibo{
	background-position: -4px -4px;
}
a.douban{
	background-position: -67px -4px;
}
a.taobao{
	background-position: -100px -4px;
}
a.tenc{
	background-position: -131px -4px;
}
.phone-code2{
	float: left;
	padding-top: 30px;
	width: 314px;
    height: 328px;
    text-align: center; 
    color: #666;   
    font-size: 14px;
}
.phone-code2 img{
	padding-bottom: 30px;
}
.goreg{
	height: 50px;
	line-height: 50px;
	text-align: center;
    background: #f9f9f9;
    border-top: 1px solid #ebebeb;   
    border-radius: 4px;
}
.goreg a{
	color: #5678a0;
}
.goreg a:hover{
	color: #f14382;
}

















