/* reset */
body,ul,li,p,h1,h2,h3,h4,h5,h6,img,br,hr,table,tr,td,dl,dt,dd,form,input {
	margin: 0;
	padding: 0;
}
body {
	text-align: center;
	font-family: PingFangSC-Regular, Helvetica Neue, Helvetica, Microsoft YaHei, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #444;
    letter-spacing: 2px;
}
a{	
	text-decoration: none;
}
ul,li {
	list-style: none;
}
/* reset end */
#home,#exp{
	width: 100%;
	background-color: #efefed;
}
#work,#contact{
	width: 100%;
	background-color: #fff;
}
.sidebar{
	position: fixed;
	top: 34px;
	left: 50%;
	margin-left: -16px;
	height: 26px;
}
.menubtn{
	float: left;
	width: 32px;
	height: 26px;
	background: url(../img/menubtn.png);
	cursor: pointer;
}
.menu{
	float: left;
	padding-top: 6px;
	display: none;
}
.menu li{
	float: left;
	padding: 0 10px;
}
.menu li a{
	font-size: 14px;
	color: #c96856;
	font-weight: 800;
}
#home img{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -200px;
	width: 400px;
	height: 400px;
}
.homename{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -60px;
	margin-left: -450px;
    font-size: 120px;
    font-family: Helvetica, sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1;
}
.homeinfo,.mywork{
	padding-top: 100px;
	letter-spacing: 10px;
	color: #c2c0b9;
}
h1{
	padding-top: 60px;
	padding-bottom: 10px;
	font-size: 18px;
}
p{
	padding: 6px;
}
.mypic{
	margin-top: 120px;
	border-radius: 35%;
}
.myage{
	padding: 0;
	font-size: 14px;
}
.works{
	width: 100%;
}
.works a{
	display: block;
	float: left;
	height: 400px;
	width: 33.33%;
	font-size: 13px;
	color: #b1afa9;
	background-size: 25%;
	opacity: 0.85;
	transition: opacity,background-color 1.5s,1.5s;
}
.works a span{
	display: block;
	padding-top: 270px;
}
.work0{
	background: url(../img/work0.png) no-repeat center center;
}
.work1{
	background: url(../img/work1.png) no-repeat center center;
}
.work2{
	background: url(../img/work2.png) no-repeat center center;
}
.works a:hover{
	opacity: 1;
	background-color: #f4f4f4;
}
.works img{
	width: 100px;
	height: 79px;
}
.myexp{
	padding-top: 100px;
}
#contact{
	padding-bottom: 40px;
}
#contact a{
	color: #444;
}
#contact a:hover{
	color: #c96856;
}
@media (max-width: 948px){
	.homename{
		margin-left: -375px;
    	font-size: 100px;
	}
}
@media (max-width: 768px){
	.sidebar{
		left: 40px;
	}
	.homename{
		margin-left: -300px;
    	font-size: 80px;
	}	
	.mypic{
		margin-top: 200px;
	}
	.mywork,.myexp{
		padding-top: 200px;
	}
	.works a{
		background-size: 50%;
	}
}
@media (max-width: 736px){
	#home img{
		margin-top: -100px;
		margin-left: -100px;
		width: 200px;
		height: 200px;
	}
	.homename{
		margin-top: -36px;
		margin-left: -225px;
    	font-size: 60px;
	}
	.mywork img{
		width: 120px;
		height: 95px;
	}
	.homeinfo{
		padding-top: 50px;
	}
	.mypic{
		display: none;
	}
	.homeinfo,.mywork{
		padding-top: 40px;
	}
	.works a{
		height: 260px;
	}
	.work a span{
		padding-top: 100px;
	}
	.mywork,.myexp{
		padding-top: 40px;
	}
}
@media (max-width: 640px){
	.works a{
		height: 200px;
	}
	.works a span{
		padding-top: 150px;
	}
	.skill{
		padding-top: 20px;
	}
}
@media (max-width: 450px){
	.homename{
		margin-top: -26px;
		margin-left: -150px;
    	font-size: 40px;
	}
}
@media (max-width: 414px){
	.mypic{
		display: inline-block;
	}
	.homeinfo,.mywork{
		padding-top: 140px;
	}
	.mypic{
		margin-top: 100px;
		width: 100px;
		height: 80px;
	}
	.mywork,.myexp{
		padding-top: 80px;
	}
	.works a{
		height: 300px;
	}
	.works a span{
		padding-top: 200px;
	}
}