/* reset */
body,ul,li,p,h1,h2,h3,h4,h5,h6,img,br,hr,table,tr,td,dl,dt,dd,form,input {
	margin: 0;
	padding: 0;
}
body {
	font-family:"Microsoft YaHei",Arial,Helvetica,sans-serifsans-serif;
	font-size: 1.0em;
	color: #42475d;
	text-align: center;
	letter-spacing: 1px;
	background: url(../img/bg.jpg);
	background-size: cover;
}
a{
	color: #42475d;
	text-decoration: none;
}
ul,li {
	list-style: none;
}
/* reset end */
.fallback-message{
	display:none; 
} 
.impress-not-supported{
	display:block; 
}
.impress-enabled .step {
    margin: 0;
    opacity: 0.3;
    -webkit-transition: opacity 1s;
       -moz-transition: opacity 1s;
        -ms-transition: opacity 1s;
         -o-transition: opacity 1s;
            transition: opacity 1s;
}
.impress-enabled .step.active { opacity: 1 }
.step {
    position: relative;
    width: 900px;
    padding: 40px;
    margin: 20px auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
    /*font-family: 'PT Serif', georgia, serif;*/
    /*line-height: 1.5;*/
}
#tip{
	display: inline-block;
	padding: 10px;
	font-size: 1em;
	margin-top: 20px;
	background-color: #fff;
	border-radius: 4px;
	visibility: visible;
}
img.pic{
	width: 200px;
	height: 200px;
	border: 10px solid #cccdd2;
	border-radius: 50%;
}
p.tel{
	font-size: 1.2em;
}
h1{
	padding-top: 0.5em;
	font-size: 3em;
	font-weight: 700;
    text-shadow: 1px 2px #b9bdc6,2px 4px #cccdd2;
}
p,span{
	font-size: 1.5em;
	padding-top: 0.5em;
}
.work{	
	display: inline-block;
	width: 200px;
	height: 200px;	
}
.work a{
	width: 160px;
	height: 160px;
}
.work img{
	margin-top: 30px;
	border-radius: 4px;
	border: 3px solid #fff;
}

