body,ul,li,p,h1,h2,h3,h4,h5,h6,img,br,hr,table,tr,td,dl,dt,dd,form,input {
	margin: 0;
	padding: 0;
}
body {
	font-family: tahoma,arial,sans-serif;
	font-size: 12px;
	color: #666;
	background-color: #f1f2f3;
}
h1,h2,h3{
	font-weight: 400;
}
ul,li {
	list-style: none;
}
img {
	border: none;
}
a {
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}