.page{
	padding-top: 62px;
	padding-bottom: 0;
	letter-spacing: 1px;
	color: #666;
	background-color: #dbebf8;
}
header #del{
	position: absolute;
	height: 40px;
	line-height: 40px;
	bottom: 0;
	right: 2%;
	color: #fff;
}
.content{
	padding: 13px 14px;
	height: 56px;
	box-sizing: border-box;
}
.search-area{
	margin: 0 auto;
	width: 100%;
	height: 30px;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 2px;
}
.search-area .search{
	float: left;
	width: 90%;
	height: 30px;
	border: 0;
	outline: none;
	text-indent: 10px;
}
.search-area .search-btn{
	float: right;
	height: 28px;
	line-height: 28px;
	font-size: 14px;
	color: #888;
	border: 0;
	background: transparent;
}
.top-nav{
	height: 42px;
	line-height: 42px;
	background-color: #fff;
}
.top-nav>div{
	float: left;
	width: 33.33%;
	text-align: center;
}
.mainbox{
	padding: 14px;
	box-sizing: border-box;
}
.resource-info{
	margin-bottom: 22px;
}
.resource-info>div{
	height: 44px;
	box-sizing: border-box;
	border-bottom:1px dotted #ccc;
	background-color: #fff;
}
.resource-info .min-head{
	background-color: #0ba29d;
	color: #fff;
	border: 0;
}
.tip-l,.tip-r{
	padding: 0 14px;
	height: 44px;
	line-height: 44px;
}
.tip-l{
	float: left;
}
.tip-r{
	float: right;
}
.resource-info .date{
	line-height: 44px;
	text-align: center;
	border: 0;
}