.page{
	padding: 0;
	letter-spacing: 1px;
	color: #666;
	font-size: 14px;
}
.content{
	padding-top: 62px;
	background-color: #e6e6e6;
	margin-bottom: 10px;
}
.search-area{
	padding: 0 14px;
	width: 100%;
	height: 56px;
	line-height: 56px;
	box-sizing: border-box;
	overflow: hidden;
}
.search-area .search{
	width: 85%;
	height: 30px;
	box-sizing: border-box;
	border: 1px solid #ddd;
	border-radius: 2px;
	text-indent: 10px;
	outline: none;
}
.search-area .search-btn{
	border: 0;
	background: transparent;
	color: #666;
	font-size: 14px;
}
.order-con{
	position: relative;
	width: 100%;
	height: 104px;
	margin-bottom: 10px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	overflow: hidden;
}
.situ{
	float: left;
	width: 56px;
	height: 100%;
}
.info{
	float: left;
	padding-top: 12px;
}
.info p{
	padding-bottom: 12px;
}
.btn{
	position: absolute;
	right: 0;
}
.detail{
	float: left;
	padding: 4px 10px;
	color: #fff;
	background-color: #11928d;
}
.dele{
	float: right;
	width: 100px;
	height: 100%;
	line-height: 104px;
	color: #fff;
	text-align: center;
	background-color: #ed5c57;
}