.page{
	padding:0;
}
.mtime{
	padding: 62px 14px 0 14px;
	height: 56px;
	line-height: 56px;
	background-color: #dbebf8;
}
.mtime>div{
	float: left;
	width: 25%;
	text-align: center;
}
.mtime a{
	display: inline-block;
	width: 70px;
	height: 24px;
	line-height: 24px;
	color: #fff;
	background-color: #11928d;
	border-radius: 4px;
}
.mainbox{
	padding: 14px;
	box-sizing: border-box;
}
.resource-info{
	margin-bottom: 22px;
	box-shadow: rgba(0,0,0,0.16) 0 2px 4px;
	border-radius: 4px;
}
.resource-info>div{
	height: 44px;
	box-sizing: border-box;
	border-bottom:1px dotted #ccc;
	background-color: #fff;
}
.resource-info .min-head{
	background-color: #0ba29d;
	color: #fff;
	border: 0;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}
.tip-l,.tip-r{
	padding: 0 14px;
	height: 44px;
	line-height: 44px;
}
.tip-l{
	float: left;
}
.tip-r{
	float: right;
}
.resource-info .date,.resource-info .beizhu{
	width: 100%;
}
.resource-info .beizhu{
	border: 0;	
	height: auto;
	padding-bottom: 10px;
}
.buy{
	text-align: center;
}
.notbuy{
	background-color: #61c1bd;
}
.resource-info .buy{
	border: 0;
}
.buy button{
	width: 116px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	text-indent: 10px;
	letter-spacing: 10px;
	background-color: #f08519;
	border: 0;
	border-radius: 2px;
}
@media (max-width: 360px){
	body{
		font-size: 12px;
	}
}