.page{
	padding:0;
}
.info{
	padding-top: 70px;
	padding-bottom: 8px;
	border-bottom: 1px solid #ddd;
	box-sizing: border-box;
}
.num,.state{
	padding: 0 24px;
	height: 26px;
	line-height: 26px;
}
.num>div{
	float: left;
	width: 50%;
	color: #0ba29d;
}
.state>div{
	float: left;
	width: 20%;
}
.state input:checked{
	color: #0ba29d;
}
.detail{
	padding: 24px;
	margin-bottom: 80px;
}
.detail .box{
	height: 46px;
	line-height: 46px;
	box-sizing: border-box;
	border-bottom: 1px dotted #ddd;
}
.detail .box label{
	float: left;
	width: 20%;
}
.box .detail-info{
	float: right;
	width: 80%;
	height: 100%;
	font-size: 14px;
	text-indent: 10px;
}
