.list{
	height: 628px;
	overflow: scroll;
}
.list>a{
	display: block;
	float: left;
	padding: 30px;
	width: 50%;
	text-align: center;
	box-sizing: border-box;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.list .nbr{
	border-right: 0;
}
.list .nbb{
	border-bottom: 0;
}
.list>a i{
	color: #fff;
	font-size: 30px;
	width: 62px;
	height: 62px;
	line-height: 62px;
	border-radius: 30%;
}
.list>a p{
	padding: 6px;
	color: #444;
}
.list a:nth-child(1) i{
	background: #56e17c;
}
.list a:nth-child(2) i{
	background: #3097f3;
}
.list a:nth-child(3) i{
	background: #ed5c57;
}
.list a:nth-child(4) i{
	background: #5cceb4;
}
.list a:nth-child(5) i{
	background: #b58eeb;
}
.list a:nth-child(6) i{
	background: #ff9b09;
}
.list a:nth-child(7) i{
	background: #759ed6;
}