/* 头部导航 */
.head-nav{
	position: absolute;
	z-index: 100;
	width: 100%;
	height: 42px;
	background-color: rgba(244,244,244,0.4);
	box-shadow: 0 0 2px #fff;
}
.head-nav-container{
	margin: 0 auto;
	width: 1160px;
	height: 100%;
	line-height: 42px;
	font-size: 13px;
	text-align: center;
}
.head-nav-container li{
	display: inline-block;
}
.head-nav-container a{
	display: inline-block;
	width: 54px;
	height: 42px;
	color: #000;
}
.head-nav-container a:hover{
	background-color: rgba(255,255,255,0.3);
}
.head-nav-l{
	float: left;
	background: url(../img/mini-logo.png) no-repeat left;
	padding-left: 8px;
}
.head-nav-r{
	float: right;
}
/* 头图 */
header{
	background: url(../img/head-bg.png) no-repeat center -24px;
	width: 100%;
	min-width: 1160px;
	height: 230px;
}
.header-container{
	position: relative;
	margin: 0 auto;
	width: 1160px;
	height: 232px;
}
.header-logo a{
	position: absolute;
	left: 24px;
	top: 55px;
	width: 220px;
	height: 105px;
	background-image: url(../img/header-logo.png);
}
/* 头部搜索区 */
.search-box{
	position: absolute;
	top: 114px;
	right: 0px;
	padding: 1px;
	background: rgba(0,0,0,0.12);
	border-radius: 4px;
}
.search-box .rank{
	float: left;
	margin: 1px;
	width: 68px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	border-radius: 4px;
	background: rgba(255,255,255,0.88);
	color: #df6f93;
}
.rank:hover,.seach-form:hover{
	background-color: #fff;
}
.seach-form:hover #submit{
	background: url(../img/submit-btn1.png) no-repeat center;
}
.seach-form{
	float: left;
	margin: 1px;
	border-radius: 4px;
	background: rgba(255,255,255,0.88);
}
#keyword{
	float: left;
	width: 236px;
	height: 32px;
	border: 0;
	border-radius: 4px;
	outline: none;
	text-indent: 1em;	
	background-color: transparent;
}
#submit{
	float: left;
	width: 32px;
	height: 32px;
	border: 0;
	background: url(../img/submit-btn.png) no-repeat center;
}
/* 菜单栏 */
.main-menu{
	position: absolute;
	z-index: 100;
	bottom: 0;
	left: 0;
	width: 980px;
	height: 62px;
}
.main-menu > li{
	position: relative;
	display: inline-block;
	margin-right: 12px;
}
.main-menu > li > a{
	margin-right: 18px;
	height: 62px;
	line-height: 62px;
	color: #000;	
	font-size: 14px;
}
.main-menu .sec-link{
	position: absolute;
	z-index: 200;
	top: 46px;
	left: -10px;
	border-radius: 4px;
	box-shadow: rgba(0,0,0,0.16) 0 2px 4px;
	background-color: #fff;
	display: none;
}
.main-menu .sec-link li{
	position: relative;
	height: 24px;
	line-height: 24px;
	min-width: 120px;
	font-size: 12px;
}
.main-menu .sec-link li:hover{
	background-color: #e6eaef;
	border-radius: 4px;
	font-size: 13px;
}
.main-menu .sec-link a{
	color: #666;
	padding: 15px 15px;
}
a .live-link, a .square-link{
	font-size: 16px;
}
.main-menu .square-link{
	padding-left: 22px;
	font-size: 16px;
	background: url(../img/square.png) no-repeat left;
}
.main-menu .live-link{
	padding-left: 22px;
	font-size: 16px;
	background: url(../img/live.png) no-repeat left;
}
.linkarea{
	position: absolute;
	z-index: 100;
	bottom: 0;
	right: 0;
	width: 180px;
	height: 60px;
}
.linkarea img{
	float: left;
	margin: 6px 10px;
}
.linkarea .app-link a{
	float: right;
	margin-top: 10px;
	width: 58px;
	height: 34px;
	background-image: url(../img/app-link.png);
}
.app-link img{
	margin-top: -8px;
	margin-left: -58px; 
	display: none;
}
/* 内容主体 */
#page-body{
	width: 100%;
	min-width: 1160px;
	background-color: #fff;
}
.main-content{
	margin: 0 auto;
	width: 1160px;
}
/* 广告及热门视频 */
.top-section{
	width: 100%;
	height: 240px;
	/*overflow: hidden;*/
}
.top-section-l{
	float: left;
	width: 440px;
	height: 220px;
	overflow: hidden;
}
.top-section-ads{
	width: 500%;
	height: 100%;
}
.top-section-ads a{
	float: left;
}
.top-section-btns{
	position: absolute;
	margin-top: -24px;
	margin-left: 320px;
	width: 110px;
	height: 18px;
}
.top-section-btns li{
	float: left;
	margin: 2px 2px;
	width: 18px;
	height: 18px;
	cursor: pointer;
	border-radius: 50%;
	background: url(../img/btn1.png) no-repeat center;
}
.top-section-btns .li-hover{
	background: url(../img/btn2.png) no-repeat center;
}
.top-section-btns .checked{
	background: url(../img/btn3.png) no-repeat center;
}
.top-section-r{
	float: right;
	width: 720px;
}
.top-section-r li{
	float: left;
	margin-left: 20px;
	margin-bottom: 20px;
	width: 160px;
	height: 100px;
	overflow: hidden;	
}
.top-section-r li a{
	position: relative;
}
/* 头部热门视频区mask */
.video-mask{
	position: absolute;
	margin-top: -103px;
	width: 160px;
	height: 100px;
	border-radius: 4px;
	background-color: rgba(0,0,0,0.7);
	display: none;
}
.video-info{
	position: absolute;	
	margin-top: -26px;
	padding-left: 4px;
	width: 160px;
	height: 100px;
}
.video-info div{
	margin-top: 6px;
	color: #fff;
}
.video-info p{
	margin-top: 12px;
	color: #99a2aa;
}
/* 推广区 */
.spread{
	padding: 20px 0;
	height: 220px;
}
.videos{
	float: left;
	width: 880px;
}
/* 每个小区的标题公共样式 */
.mini-head{
	width: 100%;
}
.mini-logo{
	float: left;
	margin-right: 20px;
	width: 100px;
	height: 34px;
	line-height: 34px;
	background: url(../img/mini-logo1.png) no-repeat left;
}
.mini-logo h2{
	padding-left: 50px;
	font-size: 24px;
}
.spread .mini-title,#broadcast .mini-title{
	background: #fff;
	margin: 14px 0 0 4px;
}
.spread .mini-title a{
	padding: 0 8px;
}
.mini-title{
	float: left;
	margin: 14px 0 0 14px;
	background: url(../img/mini-title-bg.png) no-repeat left;
}
.mini-title a{
	padding-left: 18px;
	color: #6d757a;
	border-right: 1px solid #ccd0d7;
}
/* a链接鼠标悬停样式 */
.mini-title a:hover,.imgs a:hover,.situation a:hover,.content-list a:hover,.main-menu a:hover{
	color: #00a1d6;
}
.mini-title .last-a,.situation .last-a{  /* 最后一个a标签没有边框 */
	border: 0;
}
/* 每个小区的视频排列公共样式 */
.imgs{
	float: left;
	width: 900px;
	height: 100px;
}
.imgs li{
	float: left;
	margin: 12px 20px 0 0;
	width: 160px;
	height: 148px;
	overflow: hidden;
}
.imgs li a{
	position: relative;
	top: 0;
	left: 0;
	width: 160px;
	height: 148px;
	color: #000;
}
.imgs .video-title{
	height: 48px;
}
.imgs li p{
	width: 100%;
	padding: 6px 0;
}
/* 每个小区的侧栏公共样式 */
.mini-side{
	float: right;
	width: 260px;
}
.mini-side .situation{
	width: 260px;
	height: 34px;
	line-height: 34px;
	background-color: #e5e9ef;
	border-radius: 4px;
	text-align: center;
}
.situation a{
	padding: 0 12px;
	color: #6d757a;
	border-right: 1px solid #ccd0d7;
}
.mini-side > a{
	display: block;
	margin-top: 12px;
}
/* 正在直播区 */
#broadcast{	
	padding: 20px 0;
	height: 360px;
}
#broadcast .mini-logo{
	width: 160px;
	background: url(../img/mini-logo2.png) no-repeat left;
}
.mini-title p{
	color: #99a2aa;
}
.mini-title span{
	color: #00a1d6;
}
/* 每个小区的标题刷新按钮公共样式 */
.refresh{
	text-align: center;
}
.refresh a{
	float: right;
	margin: 10px 0 0 10px;
	padding: 1px 6px;
	display: block;
	line-height: 22px;
	color: #000;
	border: 1px solid #ccd0d7;
	border-radius: 4px;
}
.refresh a:hover{
	background-color: #ccd0d7;
}
.refresh .refresh-icon{
	margin-right: 4px;
	display: inline-block;
	width: 12px;
	height: 12px;
	background: url(../img/refresh-icon.png) no-repeat;
	transition: transform 0.3s;
}
.refresh a:hover .refresh-icon{
	-webkit-transform: rotate(180deg);	
	   -moz-transform: rotate(180deg);
	     -o-transform: rotate(180deg);		
	    -ms-transform: rotate(180deg);		
	        transform: rotate(180deg);
}
/* 小链接公共样式 */
.mini-links li{
	float: left;
}
.mini-links a{	
	margin: 10px 16px 0 0px;
	padding: 1px 0;
	display: block;
	line-height: 22px;
	color: #000;
}
.mini-links a:hover,.mini-links .selected{
	color: #00a1d6;
	border-bottom: 1px solid #00a1d6;
}
/* 小链接公共样式结束 */
.side-outter{
	position: relative;
	top: 12px;
	width: 260px;
	height: 314px;
	overflow: hidden;
}
.side-inner{
	position: absolute;
	width: 300%;
	height: 100%;
}
.side-content{
	float: left;
	width: 260px;
	height: 251px;	
}
.recs li{
	float: left;
	margin: 4px;
}
/* 动画区 */
#cartoon{
	padding: 20px 0;
	height: 360px;
}
#cartoon .mini-logo{
	background: url(../img/mini-logo3.png) no-repeat left;
}
.mini-side .mini-links{
	display: inline-block;
	float: left;
}
.mini-side h3{
	float: left;
	margin: 10px 20px 0 0px;
	padding: 1px 0;
	display: inline-block;
	line-height: 22px;
	font-size: 18px;
}
.mini-side .date{
	position: absolute;
	margin: 10px 0 0 206px;
	padding: 0 6px;
	width: 36px;
	height: 24px;
	line-height: 22px;
	border: 1px solid #ccd0d7;
	border-radius: 4px;
	overflow: hidden;
}
.mini-side .date a{
	color: #000;
}
.mini-side .date:hover{
	height: 50px;
}
.date a{
	border: 0;
	padding: 0;
	margin: 0;
}
.date a:hover{
	border: 0;
}
.content-list{
	margin-bottom: 18px;
}
.content-list .num{
	float: left;
	margin-right: 4px;
	padding: 1px 6px;
	color: #fff;
	border-radius: 4px;
	background-color: #f25d8e;
}
.content-list a{
	color: #000;
}
.content-list img{
	float: left;
	margin-right: 6px;
}
.content-list a span{
	display: inline-block;
	margin-top: 4px;
	color: #99a2aa;
}
.more{
	display: inline-block;
	width: 260px;
	padding: 4px 0;
	text-align: center;
	color: #000;
	background-color: #e5e9ef;
	border-radius: 4px;
}
.more:hover{
	color: #000;
	background-color: #b8c0cc;
}
#cartoon .side-inner{
	width: 200%;
}
/* 视频mask-v1 */
.video-mask-v1{
	position: absolute;
	top: -151px;
	left: 0;
	width: 160px;
	height: 100px;
	border-radius: 4px;
	background-color: rgba(0,0,0,0.2);
	display: none;
}
.video-mask-v1 span{
	float: right;
	margin: 82px 6px 0 0;
	color: #fff;
}
#broadcast .video-mask-v1{
	background: url(../img/broadcast-mask.jpg);
}
/* 视频点击量和弹幕量 */
.video-s{
	position: absolute;
	top: -24px;
	width: 160px;
	height: 20px;
	line-height: 20px;
	color: #99a2aa;
	background-color: #fff;
}
.video-s .video-s-l{
	float: left;
	padding-left: 16px;
	background: url(../img/video-s-l.png) no-repeat left;
}
.video-s .video-s-r{
	float: right;
	padding-left: 16px;
	margin-right: 40px;
	background: url(../img/video-s-r.png) no-repeat left;
}
/* 番剧 */
#bangumi{
	padding: 20px 0;
	height: 360px;
}
#bangumi .mini-logo{
	background: url(../img/mini-logo4.png) no-repeat left;
}
/* 特别推荐区 */
.section4{
	padding: 20px 0;
	height: 240px;
}
.section4 .mini-logo{
	width: 160px;
	background: url(../img/mini-logo5.png) no-repeat left;
}
.section4 > a{
	display: inline-block;
	margin: 46px 0 0 20px;
}
/* sidebar */
#sidebar{
	position: fixed;
	top: 230px;
	background-color: #f6f9fa;
    border: 1px solid #e5e9ef;
    text-align: center;
    border-radius: 4px;
}
#sidebar a{
	display: block;
	width: 46px;
	height: 32px;
	line-height: 32px;
	color: #000;
}
#sidebar a:hover,#sidebar a.sidebar-hover{
    background-color: #00a1d6;
    color: #fff;
}
/* 页脚 */
footer{
	width: 100%;
	height: 300px;
	background-color: #f6f9fa;
}
.footer-container{
	margin: 0 auto;
	width: 1160px;
	height: 220px;
	padding: 40px 0;
}
.footer-info{
	float: left;
}
.footer-list{
	margin-right: 40px;
	width: 400px;
	height: 112px;
	font-size: 14px;
	border-right: 1px solid #e5e9ef;
}
.tips{
	color: #9ca2aa;
	margin-bottom: 6px;
}
.footer-list li{
	display: inline-block;
	width: 120px;
	margin-top: 10px;
}
.footer-list li a{
	color: #000;
}
.app-info{
	float: left;
}
.app-list li{
	float: left;
	width: 82px;
	font-size: 14px;
}
.app-list li a{
	display: inline-block;
	color: #000;
}
.app-list div{
	width: 82px;
	text-align: center;
	margin-top: 80px;
}
.app-info .code{
	position: absolute;
	margin: -228px 0 0 -22px;
	width: 128px;
	height: 142px;
	display: none;
}
.phone .code{
	background: url(../img/code1.png) no-repeat center;
}
.sina .code{
	background: url(../img/code2.png) no-repeat center;
}
.wechat .code{
	background: url(../img/code3.png) no-repeat center;
}
.phone{
	background: url(../img/app1.png) no-repeat center;
}
.phone:hover{
	background: url(../img/app1-d.png) no-repeat center;
}
.sina{
	background: url(../img/app2.png) no-repeat center;
}
.sina:hover{
	background: url(../img/app2-d.png) no-repeat center;
}
.wechat{
	background: url(../img/app3.png) no-repeat center;
}
.wechat:hover{
	background: url(../img/app3-d.png) no-repeat center;
}
.info1{
	margin-top: 38px;
	padding-left: 120px;
	width: 280px;
	background: url(../img/footpic.png) no-repeat left;
}
.info1 p,.info2 p,.info3 p{
	padding-bottom: 10px;
	color: #9ca2aa;
}
.info2{
	margin: 38px 0 0 -30px;
	color: #9ca2aa;
}
.app-info .info3{
	margin-top: 150px;
	color: #9ca2aa;
}
footer a:hover{
	color: #00a1d6;
}
