body,ul,li,p,h1,h2,h3,h4,h5,h6,img,br,hr,table,tr,td,dl,dt,dd,form,input,a,img {
	margin: 0;
	padding: 0;
}
body {
	font-family:"Microsoft YaHei",Arial,Helvetica,sans-serifsans-serif;
	font-size: 12px;
	background: #fff;
}
ul,li {
	list-style: none;
}
img {
	border: none;
	border-radius: 4px;
}
/*一般链接*/
a {
	text-decoration: none;
}
a:hover{
	color: #00a1d6;
}