body{
    font-family: PingFangSC-Regular, Helvetica Neue, Helvetica, Microsoft YaHei, sans-serif;
    -webkit-font-smoothing: antialiased;
}
li{
	list-style: none;
}
*{
	outline: none!important;
}
.nav>li>a:focus {
    background-color: transparent!important;
}
#header{
	background-color: #36679c;
	height: 90px;
	width: 100%;
	margin-bottom: 0;
}
#header .container{
	padding: 0;
}
#header .navbar-header{
	height: 100%;
}
#header .navbar-header .navbar-toggle {
	border: 0;
    padding-top: 22px;
    padding-bottom: 22px;
}
#header .icon-bar{
	background-color: #fff;
}
#header ,#header a{
	color: #fff;
}
#header img{
	margin-top: 16px;
}
#header .navbar-collapse li{
    padding: 24px 0 24px 28px;
    font-size: 16px;
}
.navbar-collapse li a{
	display: inline-block;
	padding: 10px;
}
#header .navbar-collapse li a:hover,
#header .navbar-collapse li a.on{
	background: transparent;
	color: #afc2d7;
}
@media (max-width: 992px){
	#header{
		height: 68px;
	}
	#header .navbar-collapse li{
	    padding: 14px 0 14px 20px;
	    font-size: 14px;
	}
	#header img{
		margin-top: 10px;
		width: 120px;
		height: 20px;
	}
}
@media (max-width: 768px){
	#header{
		height: 60px;
	}
	#header img{
		margin-top: 6px;
		width: 96px;
		height: 16px;
	}
	#header .navbar {
    	padding: 0 24px;
	}	
	#header .navbar-header .navbar-toggle {	
	    margin: 0 18px 0 0 ;
	}
}
a {
    -webkit-transition: all, 250ms, cubic-bezier(0.55, 0, 0.1, 1);
    		transition: all, 250ms, cubic-bezier(0.55, 0, 0.1, 1);
}
#page-body{
	margin-top: 90px;
	padding-left: 0;
}
#page-body img{
	max-width: 100%;
	margin-bottom: 20px;
}
/*----------------------*/
ul.nav-tabs.affix{
    top: 90px;
}
ul.nav-tabs{
    padding-top: 20px;
    background: #f4f4f4;
    border-right: 1px solid #ddd;
}
ul.nav-tabs li{
    margin: 0;
}
ul.nav-tabs li a{
	width: 100%;
    padding: 5px 20px;
	color: #333;
	border-radius: 0;
	border: 0;
}
ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover{
    background: #36679c;
	color: #fff;
	border: 0;
}
#page-body .sec{
	margin-top: -10px;
}
#page-body .sec h3{
	text-align: center;
	font-size: 28px;
	padding: 10px 0 20px 0;
}
#page-body .sec h4{
	padding-top: 28px;
	padding-bottom: 6px;
	font-size: 24px;
	border-bottom: 1px solid #e6e6e6;
}
#page-body .sec h5{
	padding-top: 20px;
	font-size: 16px;
	font-weight: 700;
}
#page-body .sec p{
	line-height: 26px;
}
#page-body .sec img{
	max-width: 100%;
	margin-bottom: 20px;
}
#page-body .sec h6{
	padding-top: 10px;
	padding-bottom: 6px;
	font-size: 14px;
	font-weight: 600;
}
hr{
	width: 80%;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10%;
	margin-right: 10%;
	height: 1px;
    background-color: #c3c3c3;
}
div.callout-info{
    border-left-color: #5bc0de;
}
div.callout-danger {
    border-left-color: #d9534f;
}
.txt-danger{
	color: #a94442;
}
.callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eeeeee;
    border-left-width: 4px;
    border-radius: 4px;
    border-left-color: #f0ad4e;
}
@media (max-width: 992px){
	#page-body{
		margin-top: 68px;
	}
	ul.nav-tabs.affix{
	    top: 68px;
	}
}
@media (max-width: 768px){
	#page-body{
		margin-top: 60px;
		padding-left: 10px;
		padding-right: 10px;
	}
	ul.nav-tabs.affix{
    	top: 60px;
	}
	#myScrollspy{
		padding-right: 0;
	}
	ul.nav-tabs li a{
		padding: 4px;
		font-size: 10px;
	}
}
#myScrollspy .minav{
	text-indent: 10%;
}
#myScrollspy .minav li a{
	background: transparent;
	color: #333;
}
#myScrollspy .minav li.active a{
    color: #36679c;
    border-left: 2px solid #36679c;
}
#sidebar{
	position: fixed;
	top: 0px;
	right: -280px;
	z-index: 100;
	padding-top: 90px;
	width: 280px;
	height: 100%;
	color: #fff;
	background-color: rgba(44, 62, 80, 0.95);
}
#sidebar li{
	padding-left: 34px;
	padding-bottom: 30px;
	list-style: none;
}
#sidebar li a{
	color: #fff;
	padding: 0 10px;
	text-decoration: none;
}
#sidebar li a:hover,
#sidebar li a.on{
	color: #808b96;
}