body{
    font-family: PingFangSC-Regular, Helvetica Neue, Helvetica, Microsoft YaHei, sans-serif;
    -webkit-font-smoothing: antialiased;
}
*{
	outline: none!important;
}
a{
	text-decoration: none!important;
}
.nav>li>a:focus {
    background-color: transparent!important;
}
#header{
	background-color: #48609e;
	height: 90px;
	width: 100%;
}
#header .container{
	padding: 0;
}
#header .navbar-header{
	height: 100%;
}
#header .navbar-header .navbar-toggle {
	border: 0;
    padding-top: 22px;
    padding-bottom: 22px;
}
#header .icon-bar{
	background-color: #fff;
}
#header ,#header a{
	color: #fff;
}
#header img{
	margin-top: 16px;
}
#header .navbar-collapse li{
    padding: 24px 0 24px 28px;
    font-size: 16px;
}
.navbar-collapse li a{
	display: inline-block;
	padding: 10px;
}
#header .navbar-collapse li a:hover{
	background: transparent;
	color: #afc2d7;
}
.navbar-collapse .reg{
	padding-right: 0
}
@media (max-width: 992px){
	#header{
		height: 68px;
	}
	#header .navbar-collapse li{
	    padding: 14px 0 14px 20px;
	    font-size: 14px;
	}
	#header img{
		margin-top: 10px;
		width: 120px;
		height: 20px;
	}
}
@media (max-width: 768px){
	#header{
		height: 60px;
	}
	#header img{
		margin-top: 6px;
		width: 96px;
		height: 16px;
	}
	#header .navbar {
    	padding: 0 24px;
	}	
	#header .navbar-header .navbar-toggle {	
	    margin: 0 18px 0 0 ;
	}
}
#carousel{
    position: relative;
    height: 800px;
    width: 100%;
    background: url(../img/bg1.png) no-repeat center top;
	background-size: cover;
}
#carousel .inner-view{
	padding-top: 210px;
	padding-left: 0;
}
#carousel .inner-view h3{
	color: #fff;
	font-size: 36px;
	margin-bottom: 20px;
}
#carousel .inner-view p{
	color: #c6cbd8;
	font-size: 24px;
}
#carousel .inner-view a{
	padding: 15px 30px;
	margin-top: 24px;
    display: inline-block;
    color: #fff;
    background-color: #0e9e7a;   
    font-size: 18px;
    border-radius: 4px;
}
#carousel .down{
	position: absolute;
	bottom: -27px;
	left: 50%;
	margin-left: -27px;
	height: 54px;
	width: 54px;
	font-size: 30px;
	text-align: center;
	background: #fff;
	border-radius: 50%;
    border-bottom: 1px solid #c0c0c0;
}
#carousel .down span{
	animation:goo 2s infinite;
    -webkit-animation:goo 2s infinite;
}
@keyframes goo{
	from {padding-top:10%;}
	to {padding-top: 40%;opacity: 0;}
}
@-webkit-keyframes goo{
	from {padding-top:10%;}
	to {padding-top: 40%;opacity: 0;}
}
#carousel .down a{
    width: 100%;
    height: 100%;
    color: #8f8f8f;
}
@media (max-width: 992px){
	#carousel{
    	height: 700px;
	}
	#carousel .inner-view{
		padding-top: 200px;
	}
	#carousel .inner-view h3{
		font-size: 24px;
	}
	#carousel .inner-view p{
		font-size: 18px;
	}
	#carousel .inner-view a{
		padding: 8px 16px;
		margin-top: 10px; 
	    font-size: 16px;
	}
	#carousel .down{
		bottom: -26px;
		margin-left: -26px;
		height: 52px;
		width: 52px;
	}
}
@media (max-width: 768px){
	#carousel{
    	height: 500px;
	}
	#carousel .inner-view{
		padding: 130px 24px 0 24px;
		width: 70%;
		float: left;
	}
	#carousel .inner-view h3{
		font-size: 19px;
		margin-bottom: 14px;
	}
	#carousel .inner-view p{
		font-size: 14px;
		margin-bottom: 4px;
	}
	#carousel .inner-view a{
		padding: 8px 16px;
		margin-top: 8px; 
	    font-size: 14px;
	}
	#carousel .down{
		bottom: -19px;
		margin-left: -19px;
		height: 38px;
		width: 38px;
		font-size: 22px;
	}
}
#features .platform{
	padding: 60px 5% 40px 5%;
	text-align: center;
	background-color: #fafafa;
}
#features .platform .title{
    font-size: 36px;
    color: #39464b;
}
#features .platform .platform-link{
	display: inline-block;
	padding: 0;
}
.platform-link li{
	display: inline-block;
	margin: 26px;
	width: 78px;
	height: 78px;
	line-height: 78px;
	font-size: 36px;
	background-color: #4d7db1;
    border: 1px solid #4d7db1;
    border-radius: 50%;
    list-style: none;
}
.platform-link li:hover{
	background-color: #fafafa;
}
.platform-link li:hover a{
	color: #4d7db1;
}
.platform-link a{
	display: inline-block;
	width: 100%;
	height: 100%;
	color: #fff;
}
.platform-link .ios{
	margin-left: 0;
}
.platform-link .lua{
	margin-right: 0;
}
#features .platform .sub-title{
	font-size: 20px;
	color: #909090;  
}
@media (max-width: 992px){
	#features .platform .title {
		font-size: 26px;
	}
	.platform-link li {
		margin: 16px 20px 18px 20px;
		height: 58px;
		width: 58px;	
		line-height: 58px;
		font-size: 28px;
	}
	#features .platform .sub-title {
		font-size: 14px;
	}
}
@media (max-width: 768px){
	#features .platform .title {
		font-size: 20px;
	}
	.platform-link li {
		margin: 12px;
		height: 38px;
		width: 38px;
		line-height: 38px;
		font-size: 20px;	
	}
	#features .platform .sub-title {
		font-size: 12px;
	}
}
#features .container{
	padding: 120px 0;
}
.sec-txt-l{
	color: #586062;
	padding-left: 0;
	padding-right: 35px;
}
.section h3{
	font-size: 26px;
	padding-bottom: 10px;
}
.section p{
	font-size: 18px;
}
.sec-img-r{
	padding-left: 35px;
	padding-right: 0;
}
.section .container img{
	max-width: 100%;
}
.bluebg{
	background-color: #4679ae;
	width: 100%;
}
.sec-img-l{
	padding-left: 0;
	padding-right: 35px;
}
.sec-txt-r{
	color: #fff;
	padding-left: 35px;
	padding-right: 0;
}
.last-h3{
	padding-top: 16%;
}
.mobile{
	width: 100%;
	height: 730px;
	background: url(../img/mobile.png) no-repeat center top;
	background-size: cover;
}
.mobile h3{
	font-size: 34px;
	margin-top: 120px;
}
.mobile p{
	font-size: 24px;
}
.mobile .down-link{
	float: left;
}
.mobile .down-link a{
	display: block;
	width: 180px;
	height: 44px;
	color: #fff;
	border-radius: 4px;
	margin: 20px 20px 20px 0;
}
.down-link i{
	float: left;
	width: 43px;
	height: 44px;
	line-height: 44px;
	font-size: 26px;
	text-align: center;
	border-radius: 4px;
}
.down-link span{
	float: left;
	width: 136px;
	height: 44px;
	line-height: 44px;
	text-indent: 14px;
}
.down-link .ios-link{
	background-color: #0b78cc;
}
.down-link .andr-link{
	background-color: #0fa680;
}
.down-link .ios-link:hover{
	background-color: #096fbd;
}
.down-link .andr-link:hover{
	background-color: #0d9875;
}
.ios-link i{
	background-color: #096fbd;
}
.andr-link i{
	background-color: #0d9875;
}
.mobile .code-pic{
	float: left;
	margin-top: 20px;
	width: 110px;
	height: 110px;
	border: 1px solid #b3b3b3;
}
.mobile .code-pic img{
	max-width: 100%;
}
@media (max-width: 992px){
	#features .container{
		padding: 30px 0;
	}
	.sec-txt-l{
		padding: 0 0 28px 0;
	}
	.sec-txt-r{
		padding: 24px 0 0 0;
	}
	.section h3{
		font-size: 24px;
		padding-bottom: 8px;
	}
	.sec-img-r,.sec-img-l{
		padding: 0;
	}
	.last-h3{
		padding-top: 0;
	}
	.mobile{
		height: 480px;
	}
	.mobile h3{
		margin-top: 80px;
	}
}
@media (max-width: 768px){
	#features .container{
		padding: 22px 24px;
	}
	.sec-txt-l{
		padding: 0 0 22px 0;
	}
	.sec-txt-r{
		padding: 14px 0 0 0;
	}
	.section h3{
		font-size: 20px;
		padding-bottom: 8px;
	}
	.section p{
		font-size: 16px;
	}
	.sec-img-r,.sec-img-l{
		padding: 0;
	}
	.last-h3{
		padding-top: 0;
	}
	.mobile{
		height: 380px;
	}
	.mobile h3{
		margin-top: 60px;
	}
	.mobile .down-link a{
		width: 120px;
	}
	.mobile .code-pic,.down-link i{
		display: none;
	}
}
.footer{
	width: 100%;
	text-align: center;
}
.footer .intro{
	padding: 168px 0 140px 0;
	background-color: #34495e;
}
.footer .intro img{
	height: 100px;
	width: 180px;
}
.footer .intro p{
	padding-top: 34px;
	font-size: 22px;
	color: #fff;
}
.footer .intro a{
	display: inline-block;
	color: #fff;
	padding: 12px 20px;
	margin: 30px 10px;
	border-radius: 4px;
}
a {
    -webkit-transition: all, 250ms, cubic-bezier(0.55, 0, 0.1, 1);
    		transition: all, 250ms, cubic-bezier(0.55, 0, 0.1, 1);
}
.intro a.link1{
	background-color: #0e9e7a;
	border: 1px solid #0e9e7a;
}
.intro a.link1:hover{
	background-color: #0c906f;
	border: 1px solid #0c906f;
}
.intro a.link2{
	border: 1px solid #fff;
}
.intro a.link2:hover{
	color: #0c906f;
	border: 1px solid #0c906f;
}
.footer .info{
	padding: 20px 0;
	font-size: 12px;
	color: #969fa8;
	background-color: #2c3e50;
}
.footer .info p{
	margin: 0;
	padding-top: 4px;
}
@media (max-width: 992px){
	.footer .intro{
		padding: 108px 0 88px 0;
	}
	.footer .intro img{
		height: 80px;
		width: 144px;
	}
	.footer .intro p{
		padding-top: 24px;
		font-size: 18px;
	}
	.footer .intro a{
		padding: 8px 16px;
		margin: 24px 10px;
	}
}
@media (max-width: 768px){
	.footer .intro{
		padding: 84px 0 60px 0;
	}
	.footer .intro img{
		height: 60px;
		width: 108px;
	}
	.footer .intro p{
		font-size: 16px;
	}
}
#sidebar{
	position: fixed;
	top: 0px;
	right: -280px;
	z-index: 100;
	padding-top: 90px;
	width: 280px;
	height: 100%;
	color: #fff;
	background-color: rgba(44, 62, 80, 0.95);
}
#sidebar li{
	padding-left: 34px;
	padding-bottom: 30px;
	list-style: none;
}
#sidebar li a{
	color: #fff;
	padding: 0 10px;
}
#sidebar li a:hover{
	color: #808b96;
}
#log,#reg{
	width: 480px;
}
.modal-dialog{
	width: 100%;
}
.modal-content{
	border-radius: 4px;
	padding-bottom: 40px;
}
.modal-header{
	text-align: center;
	color: #dde1e7;
}
.modal-header a{
	display: inline-block;
	padding: 0 80px;
    color: #868d9b;
    font-size: 16px;
}
.link-box a.on{
	color: #4d95fb;
}
.form-group{
	padding: 2px 16px;
}
.input-lg{
	font-size: 16px;
	border: 1px solid #dde1e7;
    border-radius: 2px;
}
.form-control:focus{
	color: #7b8392;
	border: 1px solid #9ba1ac;
	box-shadow: none;
}
.alert {
	padding: 6px 15px;
	margin-top: 6px;
    margin-bottom: 6px;
    background-color: #fee8e8;
    font-size: 12px;
    color: #d15a5a;
    border-radius: 2px;
    visibility: hidden;
}
a.forgot-pwd{
    color: #868d9b;
    font-size: 12px;
    margin-top: -6px;
}
#login,#register{
	font-size: 16px;
	color: #fff;
	background-color: #4d95fb;
	border-radius: 2px;  
}
#login:hover,#register:hover{
	background-color: #64a3fd;
	color: #c2dafe;
}
.modal-body .demo{
	width: 100%;
	text-align: center;
	padding:40px;
}
.demo a{
	display: inline-block;
	width: 126px;
	height: 50px;
	line-height: 50px;
	color: #868d9b;
    border: 1px solid #868d9b;
    border-radius: 2px;
}
.demo a:hover{
	color: #4d95fb;
    border: 1px solid #4d95fb;
}
@media (max-width: 768px){
	#log,#reg{
		width: 320px;
	}
	.modal-header a{
		padding: 0 40px;
	}
	.modal-dialog{
		margin: 0;
	}
}